In [8]:
import pandas as pd
from scipy.stats import zscore

In [3]:
tmp_df = pd.read_csv('data/VQ_data.csv')
tmp_df['d'] = pd.to_datetime(tmp_df['d'])
tmp_df = tmp_df.set_index(['d', 'insID'])

In [6]:
min_MCAP = 500000000
clean_df = tmp_df[tmp_df['MCAP']<min_MCAP]

monthly_df =tmp_df.groupby([tmp_df.index.get_level_values(1), pd.Grouper(freq='m', level=0)]).last()
monthly_df['ret'] = monthly_df['adj_c'].groupby(level='insID').pct_change(1).shift(-1)

In [38]:
monthly_df['PE'].groupby(level='d').apply(zscore)

/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:193: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)
/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:2419: RuntimeWarning: invalid value encountered in subtract
  return (a - mns) / sstd

d
2002-01-31    [-0.09615292469453507, 0.001646952141195283, -...
2002-02-28    [-0.2919319412898912, -0.12298638913736377, -0...
2002-03-31    [-0.3005083047381806, -0.13827096139464864, -0...
2002-04-30    [-0.3079045583544089, -0.1423949001049094, -0....
2002-05-31    [-0.31024686913939015, -0.1489936741607058, -0...
                                    ...
2021-08-31    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2021-09-30    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2021-10-31    [-0.028272598022374206, -0.02819429727630675, ...
2021-11-30    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2021-12-31    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
Name: PE, Length: 240, dtype: object

In [12]:
col_list = ['PE', 'PB']

In [13]:
zscore_df = pd.DataFrame()
for col in col_list:
    col_zscore = col + '_zscore'
    zscore_df[col_zscore] =

ValueError: operands could not be broadcast together with shapes (240,2) (240,)

In [14]:
col_zscore

'PE_zscore'

In [27]:
monthly_df[col].groupby(level='d').std()

d
2002-01-31     116.642428
2002-02-28     188.616769
2002-03-31     195.489525
2002-04-30     182.822686
2002-05-31     167.952243
                 ...
2021-08-31            NaN
2021-09-30            NaN
2021-10-31    1808.413272
2021-11-30            NaN
2021-12-31            NaN
Name: PE, Length: 240, dtype: float64

In [40]:
monthly_df[col].unstack(level ='d')

d,2002-01-31,2002-02-28,2002-03-31,2002-04-30,2002-05-31,2002-06-30,2002-07-31,2002-08-31,2002-09-30,2002-10-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
insID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.093635,31.501558,31.250000,31.128278,38.795140,39.003005,35.667719,34.577408,33.370791,35.516911
3,NaN,-8.828840,-9.594009,-10.888906,-10.476890,-9.594009,-6.003621,-6.003621,-3.590403,-1.447937,...,226.705420,144.781323,149.429537,153.338263,94.954323,96.708815,89.025349,34.718910,38.192024,41.188196
6,NaN,22.865339,21.950717,19.206892,16.463028,14.176494,10.975378,9.146135,5.716335,6.973944,...,-6.305819,-9.662500,-9.237500,-9.212500,-9.237500,-8.890208,-8.225519,-7.655786,-7.460960,-7.171776
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.730364,60.378147,65.810091,65.810091,67.326411,73.004543,62.639700,60.198120,62.738125,61.468123
8,NaN,NaN,NaN,NaN,20.806974,18.938979,16.344956,16.344956,15.566625,14.269614,...,44.546483,50.714457,52.579441,54.103482,62.602735,63.302207,54.558808,61.051226,65.502878,64.230977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.198625,15.304090
2290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-172.997712,-166.132723
2291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-42.528057,-37.330183
2296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-678.391960,-653.266332
2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.378952,-9.473811

In [42]:
zscore(monthly_df[col].unstack(level ='d'), axis=1, nan_policy='omit').stack(level ='d')

AttributeError: 'numpy.ndarray' object has no attribute 'stack'

In [43]:
pd.DataFrame(zscore(monthly_df[col].unstack(level ='d'), axis=1, nan_policy='omit'))

,0,1,2,3,4,5,6,7,8,9,...,230,231,232,233,234,235,236,237,238,239
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.238295,-0.238745,-0.238936,-0.239028,-0.233207,-0.233050,-0.235582,-0.236410,-0.237326,-0.235696
1,NaN,-0.101081,-0.108509,-0.121081,-0.117081,-0.108509,-0.073651,-0.073651,-0.050222,-0.029421,...,2.185656,1.390278,1.435406,1.473355,0.906521,0.923555,0.848959,0.321712,0.355432,0.384521
2,NaN,3.009817,2.930002,2.690558,2.451111,2.251574,1.972225,1.812594,1.513288,1.623035,...,0.464159,0.171234,0.208322,0.210504,0.208322,0.238629,0.296634,0.346352,0.363354,0.388590
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.293228,2.739746,3.104599,3.104599,3.206447,3.587836,2.891650,2.727654,2.898261,2.812958
4,NaN,NaN,NaN,NaN,0.102899,-0.070418,-0.311098,-0.311098,-0.383314,-0.503654,...,2.305511,2.877791,3.050829,3.192233,3.980815,4.045714,3.234480,3.836863,4.249898,4.131888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,1.000000
741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,1.000000
742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,1.000000
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,1.000000
744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,1.000000

In [36]:
monthly_df[col].isna()

insID  d
2      2006-02-28    False
       2006-03-31    False
       2006-04-30    False
       2006-05-31    False
       2006-06-30    False
                     ...
2291   2021-12-31    False
2296   2021-11-30    False
       2021-12-31    False
2297   2021-11-30    False
       2021-12-31    False
Name: PE, Length: 64610, dtype: bool